{% extends "base.html" %}
{% block title %}Juegos{% endblock %}
{% block content %}
<div id="main_wrapper">
    <header>
        <div id="portada">
            <img src="/static/imagenes/banner.gif" id="banner" alt="banner">
            <img src="/static/imagenes/logo.png" id="logo" alt="logo">
        </div>
        <hr>
        <nav>
        <ul>
            <li><a href="https://dit.gonzalonazareno.org">Plataforma Moodle</a></li>
            <li><a href="https://google.es">Google</a></li>
            <li><a href="https://josejuinfo.data.blog">Vlog Servicios</a></li>
            <li><a href="https://debian.org">Página debian</a></li>
        </ul>
        </nav>
    </header>
    <h4>José Juan Hervás Carrasco</h4>
    <section>
        <h1>Juego:{{juego.nombre}}</h1>
        <div>
            <h2>Identificador: {{juego.id}}</h2>
            {% if juego.sistema %}
                <h2><strong>Sistema: {{juego.sistema}}</h2>
            {% endif %}
            {% if juego.distribuidor %}
                <h2><strong>Distribuidor: {{juego.distribuidor}}</h2>
            {% endif %}
            {% if juego.desarrollador %}
                <h2><strong>Desarrollador: {{juego.desarrollador}}</h2>
            {% endif %}
            {% if juego.categoria %}
                <h2>Categoria: {{juego.categoria}}</h2>
            {% endif %}
            {% if juego.año %}
                <h2>Año: {{juego.año}}</h2>
            {% endif %}
        </div>
    </section>
{% endblock %}