{% extends "base.html" %}
{% block title %}Juegos{% endblock %}
{% block content %}
<div id="main_wrapper">
    <header>
        <div id="portada">
            <img src="/static/imagenes/banner.gif" id="banner" alt="banner">
            <img src="/static/imagenes/logo.png" id="logo" alt="logo">
        </div>
        <hr>
        <nav>
        <ul>
            <li><a href="https://dit.gonzalonazareno.org">Plataforma Moodle</a></li>
            <li><a href="https://google.es">Google</a></li>
            <li><a href="https://josejuinfo.data.blog">Vlog Servicios</a></li>
            <li><a href="https://debian.org">Página debian</a></li>
        </ul>
        </nav>
    </header>
    <h4>José Juan Hervás Carrasco</h4>
    <section>
        <h1>Juegos</h1>
        <div>
            <form action="/juegos" method="POST">
                <div>
                    <label>Juego:</label>
                    <input type="text" name="juego" value="{{juego}}" />
                </div>
                <div>
                    <select name="categoria">
                        {% for cat in categorias %}
                            {% if cat == categoria %}
                                <option value="{{cat}}" selected>{{cat}}</option>
                            {% else %}
                                <option value="{{cat}}">{{cat}}</option>
                            {% endif %}
                        {% endfor %}
                        <input type="submit" value="Enviar"/>
                    </select>
                </div>
            </form>
        </div>
        <hr>
        <div>
            {% if juegos %}
                <h2>Resultados</h2> 
                    <table>
                        <tr>
                            <th>Nombre</th>
                            <th>Desarrollador</th>
                            <th>Enlace</th>
                        </tr>
                    {% for juego in juegos %}
                        {% if (nombre == "" or (juego.nombre|string).startswith(nombre)) and (categoria == "" or juego.categoria == categoria) %}
                            <tr>
                                <th>{{juego.nombre}}</th>
                                <th>{{juego.desarrollador}}</th>
                                <th><a href="/juego/{{juego.id}}">Detalle</a></th>
                            </tr>
                        {% endif %}
                    {% endfor -%}
                    </table>
            {% elif nombre %}
                <h2>Resultados</h2> 
                    <table>
                        <tr>
                            <th>Nombre</th>
                            <th>Desarrollador</th>
                            <th>Enlace</th>
                        </tr>
                    {% for juego in juegos %}
                            <tr>
                                <th>{{juego.nombre}}</th>
                                <th>{{juego.desarrollador}}</th>
                                <th><a href="/juego/{{juego.id}}">Detalle</a></th>
                            </tr>
                    {% endfor -%}
                    </table>
            {% endif %}
{% endblock %}